<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BáezGabriel - Exam</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <div class="card">
                    <label for="serialNumber">Enter the Serial Number</label>
                    <input type="number" name="serialNumber" id="serialNumber" min="0" max="100">
                    <br><br>
                    <label for="brand">Enter the Brand</label>
                    <input type="text" name="brand" id="brand" placeholder="E.g. Kingston">
                    <br><br>
                    <label for="model">Enter the Model</label>
                    <input type="text" name="model" id="model">
                    <br><br>
                    <label for="name">Enter the Name</label>
                    <input type="text" name="name" id="name">
                    <br><br>
                    <label for="name">Enter the Name</label>
                    <input type="text" name="name" id="name">
                    <br><br>
                </div>
            </div>
        </div>
    </section>
</body>
</html>